<html>
<body>
    <h4 style="align-content:center">Shop By Brand</h4>
    <div class="row">
        <div class="col-md-2">
            <h2>Getting started</h2>
            <p>
                Brand details
            </p>
        </div>
        <div class="col-md-2">
            <h2>Get more libraries</h2>
            <p>
                Brand details
            </p>
        </div>
        <div class="col-md-2">
            <h2>Getting started</h2>
            <p>
                Brand details
            </p>
        </div>
        <div class="col-md-2">
            <h2>Get more libraries</h2>
            <p>Brand details</p>
        </div>
        <div class="col-md-2">
            <h2>Getting started</h2>
            <p>
                Brand details
            </p>
        </div>
        <div class="col-md-2">
            <h2>Get more libraries</h2>
            <p>Brand details</p>
        </div>
    </div>
</body>
</html>